.banner-area{
    /* background-image: url('../../images/background.jpg'); */
    /* background-repeat: no-repeat;
    background-position: cover; */
    background: linear-gradient(rgba(0, 0, 0, 0.611), rgba(0, 0, 0, 0.611)), url(../../images//background.jpg);
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Zilla Slab;
}
h1, h4, h5{
    color: white;
}